 body {
            font-family: Verdana, sans-serif;
            background: #2e3231;
        }

        /* Стили для хедера */
        header {
            background-color: #4a2758;
            padding: 20px;
            text-align: center;
        }

        ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
            color:#fff;
        }

        /* Стили для основной секции */
        .main {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            padding: 50px;
            overflow: auto;
            animation: colorChange 5s infinite;
        }

        /* Анимация изменения цвета фона */
        @keyframes colorChange {
            0% {
                background-color: #db6c6c;
            }

            50% {
                background-color: #15b481;
            }

            100% {
                background-color: #350a4b;
            }
        }

        /* Стили для контейнеров в основной секции */
        .main>div {
            background-color: #e6e6e6;
            padding: 20px;
            text-align: center;
            flex-basis: 30%;
            margin-bottom: 20px;
        }

         /* Стили для классов */
        .container1 {
            font-family: Arial, sans-serif;
            border-radius: 20px;
             
        }
         .container1:hover {
        border: 2px solid blue;  
        background: #613f72; 
        color: #fff; 
        }

        .container2 {
            font-family: Arial, sans-serif;
            border-radius: 10px; }

             .container2:hover {
        border: 2px solid blue;  
        background: #613f72; 
         color: #fff; 
        }
        

        .container3 {
            font-family: Verdana, sans-serif;
            border-radius: 40px; }

        .container3:hover {
        border: 2px solid blue;  
        background: #613f72;  
        }

        .p-text {
             font-family: Verdana, sans-serif;
            color: black;
            font-size: 25px;

        }

        /* Стили для кнопок */
        .btn-container {
            display: flex;
            justify-content: center;
        }
        .btn-link {
            background-color: #613f72;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            margin: 10px;
            cursor: pointer;
            color: #fff;
            text-decoration: none;
            font-size: 16px;
        }

        .btn-link:hover {
            background-color: #350a4b;
        }

        /* Стили для футера */
        footer {
            background-color: #665656;
            padding: 20px;
            text-align: center;
        }

        /* Стили для текста в футере */
        .p-text {
            font-family: Verdana, sans-serif;
            color: black;
            font-size: 25px;
        }

        .a-link {
            text-decoration: none;
            color: #fff;
        }